{% extends "firstapp/index.html" %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity
        ="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock head %}
{% block title %}
<title>Заказ №{{ order.id }}</title>
{% endblock title %}

{% block content %}

<h3>Заказ №{{ order.id }} от {{ order.created_at }}</h3>
<h3>Последнее обновление: {{ order.updated_at }}</h3>
<h3>Сообщение: {{ order.admin_comment }}</h3>

<!--<a href="{% url 'order_create' %}" class="btn btn-primary">Create Order</a>-->
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Артикул</th>
      <th>Количество</th>
      <th>Размер</th>
      <th>Цена</th>
    </tr>
  </thead>
  <tbody>
    {% for item in order.items.all %}
    <tr>
      <td>{{ item.article }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.size }}</td>
      <td>{{ item.price }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}